/* .img-sty{
    width: 300px;
    height: 300px;
}

.circle-sty{
    background-color: gray;
    width: 320px;
    height: 320px;
    position: absolute;
    z-index: -10;
}
#login-container{
    background-color: white;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 10%;
}

.input-sty{
    width: 200px; */
    /* background-color: rgb(177, 172, 172); */
    /* border-color: transparent;
    border-bottom: 1px solid black;
} */


.person-sty{
    max-width: 100px;
    margin-left: 180px;
    border-radius: 50px;
}