
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: whitesmoke;
    }

    .appbar {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* padding: 10px 10px; */
        /* background: linear-gradient(90deg, #2e50a5, #a82fae, #e69d30, #e56352); */
        background-color: #D6FFE7;
        /* color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        position: relative; */
        border: none;
        color: black;
        border: 1px solid black;
    }

    .navbar-right{
        display: inline;
    }
    a{
        text-decoration: none;
    }
/* 

    .appbar h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        font-size: 20px; */
        /* Slightly reduced font size to fit within the smaller height */
    /* } */

    /* .settings-icon {
        width: 24px;
        height: 24px;
        background: url('https://img.icons8.com/ios-filled/50/ffffff/settings.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }

    .settings-icon:hover{
        color: #a82fae !important;
    } */

    /* body {
        font-family: Arial, sans-serif;
        background-color: #e1d1d1;
        margin: 0;
        padding: 0;
    } */

    /* .header {
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        text-align: center;
    } */

    /* #input {
        width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        border: 2px outset;
        margin-top: 10%;
    } */

    /* .container h2 {
        margin-bottom: 20px;
        text-align: center;
    } */

    /* .input-group {
        margin-bottom: 15px;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    } */

    /* input{
        width: 400px !important;
    } */
    #button {
        background: linear-gradient(90deg, #2e50a5, #a82fae, #e69d30, #e56352);
        margin-left: 27%;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        border-radius: 10px;
        border-color: transparent;
    }

    /* #form {
        padding-left: 30px;
        padding-right: 30px;
    } */

    .footer {
        margin-top: 20px;
        text-align: center;
    }

    .logo {
        width: 40px;
        height: 40px;
        background: url('logo.jpg') no-repeat center center;
        /* Local file path */
        background-size: cover;
        /* Cover to ensure the image fills the circle */
        border-radius: 50%;
        /* Makes the logo round */
    }

    .settings-icon {
        /* width: 24px !important;
        height: 24px !important; */
        /* font-size: 20px; */
        /* background: url('https://img.icons8.com/ios-filled/50/ffffff/settings.png') no-repeat center center;
        background-size: contain; */
        cursor: pointer;
        /* margin-top: 13px !important;
       margin-left: 20px !important; */
    }

    /* .fa-solid, .fas {
        margin-top: 13px !important;
        margin-left: 20px !important;
    } */

    .login-bg-style{
        background: linear-gradient(90deg, #2e50a5, #a82fae, #e69d30, #e56352);
    }

    .button-sty{
        width: 50%;
            /* background: linear-gradient(90deg, #2e50a5, #a82fae, #e69d30, #e56352); */
            background-color: #D6FFE7;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 100px;
            color: black;
            font-weight: bold;
            margin-bottom: 10px;
            border: 2px solid black;
    }


    /* body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    } */


    .box-sty {
        /* width: 60%; */
        max-width: 500px;
        /* margin: 50px auto; */
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    /* .box-sty h2 {
        margin-bottom: 20px;
        text-align: center;
    } */

    /* .input-group {
        margin-bottom: 15px;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    } */



    /* .footer {
        margin-top: 20px;
        text-align: center;
    } */

    .nav-head-style{
        margin-left: 148px;
    }
.nav-link-style{
    margin-left: 243px;
}

/* @media (max-width:1190px) and (min-width:1150px){
    .nav-link-style{
        margin-left: 100px !important;
    }
    .nav-head-style{
        margin-left: 70px !important;
    }
}

@media (max-width:1150px) {
    .nav-link-style{
        margin-left: 40px !important;
    }
    .nav-head-style{
        margin-left: 20px !important;
    }

}

@media (max-width:993px) {
    .navbar-toggler{
        margin-left: 340px !important;
    }
}
@media (max-width:952px) {
    .nav-head-style{
        margin-left: 50px !important;
    }
    .navbar-toggler{
        margin-left: 270px !important;
    }
}

@media (max-width:851px) {
    .navbar-toggler{
        margin-left: 200px !important;
    }
}

@media (max-width:732px) {
    .navbar-toggler{
        margin-left: 150px !important;
    }
}

@media (max-width:640px) {
    .navbar-toggler{
        margin-left: 90px !important;
    }
} */

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #038236;
}

@media (max-width:512px) {
    .box-sty{
        width: 250px;
    }
    /* input{
        width: 160px !important;
    } */
    #button{
        font-size: 1.15rem;
    }
    .button-sty{
        margin-left: 30px;
    }
    .person-sty{
        margin-left: 50px;
    }
}

/* .link-sty{
    margin-left: 60px;
} */

.active-sty{
    border-bottom: 2px solid #038236;
    color: #038236 !important;
    /* border-radius: 20px; */
}
@media (max-width:734px) {
    .active-sty{
        background-color: transparent;
    }
    .navbar-inverse .navbar-toggle:hover{
        border-color: #a82fae;
        background-color: white;
    }
    .navbar-inverse .navbar-toggle{
        background-color: #a82fae !important;
      border-color: white;
    }
}
@media (max-width:767px) {
    .navbar-inverse .navbar-toggle{
        float: right;
    }
}
/* .fa{
    color:#a82fae;
    margin: 10px; */
    /* background: linear-gradient(90deg, #2e50a5, #a82fae, #e69d30, #e56352) !important; */
/* } */

/* textarea{
    width: 400px !important;
} */